<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Responsus - Flask Hosting Control</title>

<link href="/static/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link href="/static/css/style-bootstrap-custom.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        Sign In
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="/login/">
                            <div class="form-group">
                               <div class="input-group">
                                  <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                  <input type="text" class="form-control" id="email" name="email" placeholder="User">
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="input-group">
                                  <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                                  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block">Login</button>
                            </div>
                            <div class="form-group text-center">
                                <a href="#">Forgot password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script src="/static/components/jquery/dist/jquery.min.js"></script>
	<script src="/static/components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>