<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Responsus - Flask Hosting Control</title>

<link href="/static/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">

<!--Icons-->
<script src="/static/js/lumino.glyphs.js"></script>

<!--[if lt IE 9]>
<script src="/static/js/html5shiv.js"></script>
<script src="/static/js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><span>Responsus </span>Flask Hosting Control</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
							<li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>

		</div><!-- /.container-fluid -->
	</nav>
	<div class="col-sm-12 col-lg-12 main">
	    <div class="row">
	        <ol class="breadcrumb">
	            <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg></a></li>
	            <li><a href="/packages/">Packages</a></li>
	            <li><a href="#">IP</a></li>
	            <li><a href="#">Graphs</a></li>
	            <li><a href="#">Statistics</a></li>
	            <li><a href="#">Log</a></li>
	            <li><a href="#">Updates</a></li>
	            <li><a href="#">Firewall</a></li>
	            <li><a href="#">Server</a></li>
	        </ol>
	    </div><!--/.row-->
		<div class="row">
	        <div class="col-xs-6 col-sm-2 col-13">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <h5>USER</h5>
	                    <div class="text-muted">users: 0</div>
	                    <div class="text-muted">suspended: 0</div>
	                    <div class="text-muted">&nbsp</div>
	                    </div>
	                </div>
	        </div>
	        <div class="col-xs-6 col-md-2 col-13">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <h5>WEB</h5>
	                    <div class="text-muted">domains: 0</div>
	                    <div class="text-muted">aliases: 0</div>
	                    <div class="text-muted">suspended: 0</div>
	                    </div>
	                </div>
	        </div>
	        <div class="col-xs-6 col-md-2 col-13">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <h5>DNS</h5>
	                    <div class="text-muted">domains: 0</div>
	                    <div class="text-muted">records: 0</div>
	                    <div class="text-muted">suspended: 0</div>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-6 col-md-2 col-13">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <h5>MAIL</h5>
	                    <div class="text-muted">domains: 0</div>
	                    <div class="text-muted">accounts: 0</div>
	                    <div class="text-muted">suspended: 0</div>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-6 col-md-2 col-13">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <h5>DB</h5>
	                    <div class="text-muted">databases: 0</div>
	                    <div class="text-muted">suspended: 0</div>
	                    <div class="text-muted">&nbsp</div>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-6 col-md-2 col-13">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <h5>CRON</h5>
	                    <div class="text-muted">jobs: 0</div>
	                    <div class="text-muted">suspended: 0</div>
	                    <div class="text-muted">&nbsp</div>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-6 col-md-2 col-13">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <h5>BACKUP</h5>
	                    <div class="text-muted">backups: 0</div>
	                    <div class="text-muted">&nbsp</div>
	                    <div class="text-muted">&nbsp</div>
	                </div>
	            </div>
	        </div>
	    </div><!--/.row-->
	{% block content %}

    {% endblock %}

	<script src="/static/components/jquery/dist/jquery.min.js"></script>
	<script src="/static/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- <script src="/static/js/chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script> -->
	<script src="/static/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
</body>

</html>
