{% extends "base.panel.html" %}
{% block content %}
    {% for p in current_user.roles|selectattr('name', 'equalto', 'aa') %}
     {{p.name}}
     {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default chat-panel">
                <div class="panel-heading" id="accordion">
                    <i class="fa fa-user"><a href="/users/new"> New User</a></i>


                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sorty by <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">USERNAME</a></li>
                            <li><a href="#">DATE</a></li>
                            <li><a href="#">DISK</a></li>
                        </ul>
                    </div>


                </div>
                <div class="panel-body">
                    <ul class="chat">
                        {% for u in users %}
                        {% set ap = u.active_package|first %}
                        {% set p = ap.package %}
                        <li class="left clearfix">
                            <div class="chat-body">
                                <div class="header">
                                    <strong class="primary-font">{{u.first_name}}</strong>                                    
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="/users/{{u.id}}">Edit</a></li>
                                            <li><a href="#">Login as</a></li>
                                            <li><a href="#">Suspend</a></li>
                                            <li><a href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                 <div class="row">
                                        <div class="col-md-4">
                                            <div class="text-muted">Bandwidth: {{ap.bandwidth}}/{{p.bandwidth}}</div>
                                            <div class="text-muted">Disk: {{ap.quota}}/{{p.quota}} mb</div>
                                            <div class="text-muted">Mail Accounts: {{ap.mail_accounts}}/{{p.mail_accounts}}</div>                                            
                                            <div class="text-muted">Databases: {{ap.databases}}/{{p.databases}}</div>                                            
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-muted">Web Domains: {{ap.web_domains}}/{{p.web_domains}}</div>
                                            <div class="text-muted">Web Aliases: {{ap.aliases}}</div>
                                            <div class="text-muted">DNS Domains: {{ap.dns_domains}}/{{p.dns_domains}}</div>
                                            <div class="text-muted">Mail Domains: {{ap.mail_domains}}/{{p.mail_domains}}</div>                                           
                                            
                                        </div>
                                        <div class="col-md-4">                                            
                                            <div class="text-muted">SSH Access: {{ap.bash}}</div>
                                            <div class="text-muted">Cron Jobs: {{ap.cron_jobs}}/{{p.cron_jobs}}</div>
                                            <div class="text-muted">Backups: {{ap.backups}}/{{p.backups}}</div>                                                                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}                   
                    </ul>
                </div>
            </div>

        </div><!--/.col-->

    </div><!--/.row-->
</div>	<!--/.main-->
{% endblock %}
