{% extends "base.html" %}
{% block content %}
<div class="col-sm-12 col-lg-12 main">			
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg></a></li>
            <li><a href="#">Packages</a></li>
            <li><a href="#">IP</a></li>
            <li><a href="#">Graphs</a></li>
            <li><a href="#">Statistics</a></li>
            <li><a href="#">Log</a></li>
            <li><a href="#">Updates</a></li>
            <li><a href="#">Firewall</a></li>
            <li><a href="#">Server</a></li>
        </ol>
    </div><!--/.row-->

    
    <div class="row">
        <div class="col-xs-6 col-sm-2 col-13">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>USER</h5>
                    <div class="text-muted">users: 0</div>
                    <div class="text-muted">suspended: 0</div>
                    <div class="text-muted">&nbsp</div>
                    </div>
                </div>
        </div>
        <div class="col-xs-6 col-md-2 col-13">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>WEB</h5>
                    <div class="text-muted">domains: 0</div>
                    <div class="text-muted">aliases: 0</div>
                    <div class="text-muted">suspended: 0</div>
                    </div>
                </div>
        </div>
        <div class="col-xs-6 col-md-2 col-13">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>DNS</h5>
                    <div class="text-muted">domains: 0</div>
                    <div class="text-muted">records: 0</div>
                    <div class="text-muted">suspended: 0</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-2 col-13">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>MAIL</h5>
                    <div class="text-muted">domains: 0</div>
                    <div class="text-muted">accounts: 0</div>
                    <div class="text-muted">suspended: 0</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-2 col-13">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>DB</h5>
                    <div class="text-muted">databases: 0</div>
                    <div class="text-muted">suspended: 0</div>
                    <div class="text-muted">&nbsp</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-2 col-13">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>CRON</h5>
                    <div class="text-muted">jobs: 0</div>
                    <div class="text-muted">suspended: 0</div>
                    <div class="text-muted">&nbsp</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-2 col-13">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>BACKUP</h5>
                    <div class="text-muted">backups: 0</div>
                    <div class="text-muted">&nbsp</div>
                    <div class="text-muted">&nbsp</div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
                            
    <div class="row">
        <div class="col-md-12">        
            <div class="panel panel-default chat">
                <div class="panel-heading" id="accordion">
                    <svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg>
                    <form class="pull-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>

                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sorty by <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">USERNAME</a></li>
                            <li><a href="#">DATE</a></li>
                            <li><a href="#">DISK</a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <div class="chat-body">
                                <div class="header">
                                    <strong class="primary-font">alisson</strong>
                                    <small class="text-muted">15/10/2016</small>
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Edit</a></li>
                                            <li><a href="#">Login as</a></li>
                                            <li><a href="#">Suspend</a></li>
                                            <li><a href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="">Bandwidth: 1/5</div>
                                        <div class="text-muted">Disk: 1/5</div>
                                        <div class="text-muted">Web: 1/5</div>
                                        <div class="text-muted">Mail: 1/5</div>
                                        <div class="text-muted">Databases: 0/1</div>
                                        <div class="text-muted">User Directories: 2/1</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="">Web Domains: 1/5</div>
                                        <div class="text-muted">DNS Domains: 1/5</div>
                                        <div class="text-muted">Mail Domains: 1/5</div>
                                        <div class="text-muted">Database: 1/5</div>
                                        <div class="text-muted">Cron Jobs: 0/1</div>
                                        <div class="text-muted">Backups: 2/1</div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="">Email: alisson.machado@responsus.com.br</div>
                                        <div class="text-muted">Package: Básico</div>
                                        <div class="text-muted">SSH Access: bash</div>
                                        <div class="text-muted">IP Address: 0</div>
                                        <div class="text-muted">Nameservers: ns1.responsus.com.br<br/>ns2.responsus.com.br</div>
                                    </div>
                                </div>
                            </div>
                        </li>                                             
                    </ul>
                </div>                
            </div>
                        
        </div><!--/.col-->                
        
    </div><!--/.row-->
</div>	<!--/.main-->
{% endblock %}

